<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{ 
        color:#fff;
            }
</style>

  <center><a href="/dashboard" style="font-style:bold" class="tm-white-text">HOME</a></center>
  <center><h2>Employee list</h2></center>
<table class="table table-striped">
    <tr  class="bg-info">
	    <th>Employee ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
		<th>Phone</th>

    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>

<script>
	var myArray = []
	

	$.ajax({
		method:'GET',
		url:"http://127.0.0.1:5000/emp",
		success:function(response){
			myArray = response
			buildTable(myArray)
			console.log(myArray)
		}
	})

	


	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr> 
							<td>${data[i].id}</td>
							<td>${data[i].name}</td>
							<td>${data[i].address}</td>
							<td>${data[i].email}</td>
							<td>${data[i].phone}</td>
				
		
					  </tr>`
			table.innerHTML += row


		}
	}

</script>